.filterSection {
	background: #0f172a;
	width: 20%;
	height: 100vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
}

.discover {
	color: white;
}

.filterLabel {
	color: #f7f7f7;
	font-weight: bold;
	margin-bottom: 0.25rem;
	margin-top: 1rem;
	text-transform: uppercase;
}

.formSection {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
	width: 100%;
}

.selectSection {
	width: 100%;
	padding: 0.5rem;
}

.yearFilterSection {
	width: 90%;
	display: flex;
	gap: 1rem;
}

.ratingsSection {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.starContainer {
	display: flex;
	gap: 0.25rem;
	z-index: 48;
}

.star {
	font-size: 2rem;
	/* width: 1.75rem; */
	font-weight: bold;
	opacity: 80%;
	cursor: pointer;
	z-index: 50;
	color: yellow;
}

.starContainer:hover .star {
	opacity: 100%;
}

.starContainer .star:hover {
	opacity: 100%;
}

.starContainer .star:hover ~ .star {
	opacity: 50%;
}

@media screen and (max-width: 500px) {
	.filterSection {
		display: none;
	}
}
