.movieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieTitle {
  font-size: 1.2rem;
  margin: 0.5rem;
  color: #0ea5e9;
  font-weight: bold;
}

.movieDate {
  font-size: 1rem;
  color: #979ca1;
  font-weight: bold;
}
