.App {
	text-align: center;
	position: relative;
	display: flex;
	font-family: "Ubuntu", sans-serif;
}

.main-container {
	width: 80%;
}

h1 {
	color: white;
}

@media screen and (max-width: 500px) {
	.main-container {
		width: 100%;
	}
}
